*{
    margin: 0;  
    padding: 0;
    background-color: #111827;
    color: rgb(241, 234, 234);
}
nav{
    margin: 20px;
}
nav ul{
    display: flex;
    list-style: none;
    gap: 20px;
    justify-content: right;
    font-size: 20px;
    align-items: center;
}
.btn{
    padding: 5px 8px;
    background-color: rgb(89, 51, 213);
    border-radius: 10%;
}
img[alt="menu"]{
    width: 20px;
    display: none;
}
.intro{
    max-width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 50px;
}
.intro-line-1{
    display: flex;
    gap: 4px;
    /* font-size: 20px; */
    font-weight: 100;
    
}
.intro-line-1 h3{
    font-size: 20px;

}
.intro-line-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3px;
}
.intro-line-2 h1{
    font-size: 50px;
}
.intro-line-2 h2{
    font-size: 18px;
    color: blanchedalmond;
}
.projects{
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.horizontal-divider{
    background-color: rgb(89, 51, 213);
    height: 3px;
    width: 100%;
    margin-bottom: 20px;
    border-radius: 30px;
    
}
.projects div h1{
    font-size: 25px;
}
.project-list{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    row-gap: 20px;
    column-gap: 20px;
}
img[alt="hello"]{
    height: 20px;
    width: 20px;
}

img[alt="pc-image"]{
    width: 20vw;
    height: 35vh;
    border-radius: 20%;
}
img[alt="project-image"]{
    width: 120px;
    height: 120px;
}
.project{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contact{
    margin: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 11px;
}
.contact div h1{
    font-size: 25px;
}
.horizontal-divider-contact{
    background-color: rgb(89, 51, 213);
    height: 3px;
    width: 100%;
    margin-bottom: 20px;
    border-radius: 30px;
    
}
.socials{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.fa-brands{
    width: 30px;
    height: 30px;

}

@media screen and (max-width: 576px) {
    nav ul{
        display: none;
    }
    img[alt="menu"]{
        display: block;
    }
    .intro{
        display: flex;
        flex-direction: column;
    }
    img[alt="pc-image"]{
        width: 55vw;
        height: 200px;
    }
    .intro-line-1{    
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        
    }
    .intro-line-2{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }


    .intro-line-2 h1{
        font-size: 50px;
    }
    .intro-line-2 h2{
        font-size: 18px;
    
    }
    img[alt="project-image"]{
        width: 160px;
        height: 160px;
        margin-bottom: 20px;
    }
    .project-list{
        display: flex;
        flex-direction: column;
        gap: 30px;

    }   
    .socials{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center; 
        margin-left: 20px; 
    }
    

}