body{
    background-color: rgb(178, 145, 209);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#btn{
    display: flex;
    align-items: center;
    justify-content: center;
    
    padding: 10px;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 12px;
    border: none;
    
    

}

.btn:hover{
    background-color: rgb(219, 250, 229);
    border: none;
    font-size: 21px;
}